@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
    text-decoration: none;
    scroll-behavior: smooth;
}

a {
    all: unset;
}

body {
    background: url(../assets/img/background.png) no-repeat center center fixed;
    /* background-color: #e0d1ff; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: var(--white);
}

:root {
    --roxo: #8C52FF;
    --amarelo: #FFCC00;
    --white: #f7f7f7;
    --black: #151515;
    --back: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 16vw;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f7f7f7;
}

.sagas-logo {
    width: 100px;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
    color: var(--roxo);
    font-weight: 500;
    flex-wrap: wrap;
}

.navbar-itemlist {
    width: auto;

    cursor: pointer;
}

.about {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
    height: auto;
    padding: 4vw;
    justify-content: center;
    flex-wrap: wrap;
}

.mockup-class {
    width: 600px;
}

.mockup {
    width: 100%;
}

.about-decription {
    max-width: 600px;
}

.about-decription h1 {
    font-size: 44px;
}

.about-decription p {
    font-size: 24px;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    background-color: #f7f7f7;
    height: auto;


}

.video p {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;

    color: var(--black);
}

.videoframe {
    width: 72.1vw;
    height: 40.5vw;
}

.figma {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
    padding: 3vw 20vw;
}

.figma-logo {
    display: flex;
    justify-content: center;
    height: auto;
    width: 45%;
}

.figmalogo {
    width: 50%;
}

.figma-description {
    width: 45%;
}

.figma-description-title {
    font-size: 32px;
}

.figma-description-footerp {
    font-size: 18px;
}

.figma-description-paragraph {
    font-size: 20px;
}

.figma-arrow {
    width: auto;
}

.arrow {
    width: 30vw;
}

.link-figma {
    cursor: pointer;

    display: flex;
    justify-content: center;
}

.artefacts {
    height: 300px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin: 60px auto;
    border-radius: 5px;

    width: 50%;
}

.artefacts p {
    font-size: 32px;
    font-weight: 700;

    color: var(--black);
}

/* .artefacts button {
    border: none;
    outline: none;
    background: var(--roxo);
    width: 400px;
    height: 80px;
    border-radius: 5px;
    font-size: 24px;
    color: #f7f7f7;
    font-weight: 700;

    cursor: pointer;
} */

.team {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 70px 30px;
}

.team-title {
    font-size: 32px;
    font-weight: 700;
}

.teamWrapper {
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.team-user {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-img-wrapper {
    width: 180px;
    height: 180px;

    clip-path: circle(50% at 50% 50%);

    margin-bottom: 10px;
}

.team-user-img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}


.team-user-name {
    font-size: 18px;
    font-weight: 400;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: var(--white);
    text-align: center;
    color: var(--black);

    margin-top: -10px;

    font-weight: 500;
}

@media (max-width: 480px) {

    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        text-align: center;
        background-color: #f7f7f7;
        padding: 0px 0px 15px 0px;
    }

    .navbar-list {
        list-style: none;
        display: flex;
        gap: 5px;
        color: var(--roxo);
        font-weight: 500;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 12px;
        align-items: center;
    }

    .troll {
        background-color: var(--roxo);
        height: 10px;
        width: 1px;
    }

    .navbar-itemlist {
        width: auto;

        cursor: pointer;
    }

    .video {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10vw 0vw;
        background-color: var(back);
        height: auto;
    }

    .figma {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 10%;
        padding: 10vw 0vw;
    }

    .figma-logo {
        display: flex;
        justify-content: start;
        height: auto;
        width: 95%;

        cursor: pointer;
    }

    .link-figma {
        cursor: pointer;

        justify-content: flex-start;
    }

    .figmalogo {
        width: 50%;

        cursor: pointer;
    }

    .figma-description {
        width: 95%;
    }

    .figma-description-title {
        font-size: 32px;
    }

    .figma-description-footerp {
        font-size: 18px;
        text-align: center;
    }

    .figma-description-paragraph {
        font-size: 20px;
    }

    .figma-arrow {
        display: none;
    }

    .arrow {
        width: 30vw;
    }


    .artefacts {
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        height: auto;
        padding: 10vw 20vw;

        margin: auto;
        border-radius: 5px;
    }

    .artefacts p {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }

    /* .artefacts button {
        border: none;
        outline: none;
        background: var(--roxo);
        width: 92%;
        height: 80px;
        border-radius: 5px;
        font-size: 24px;
        color: #f7f7f7;
        font-weight: 700;

        cursor: pointer;
    } */
}

.download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;

    cursor: pointer;
}

.download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: var(--roxo);
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
    transform: translateY(100%)
}

.download svg polyline,
.download svg line {
    animation: docs 1s infinite;
}

@keyframes docs {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}